<div
  class="w-full h-full flex flex-col items-center justify-center cursor-pointer"
>
  <ul class="list-disc text-2xl">
    <li>
      <a href="https://www.audio-branding-society.org/" target="_blank">
        Audio Branding Society
      </a>
      - Eine Plattform für Audio- und Sound-Branding-Experten, die auch Projekte
      und Awards im Bereich Corporate Sound präsentiert.
    </li>
    <li>
      <a href="https://www.groves.de/" target="_blank">
        Groves Sound Branding
      </a>
      - Deutsche Agentur, spezialisiert auf Corporate Sound und Sound Branding
      für Markenidentität.
    </li>

    <li>
      <a href="https://www.wesound.de/" target="_blank"> WeSound </a>
      - Agentur für Audio-Branding und Corporate Sound.
    </li>

    <li>
      <a href="https://www.hastings.de/" target="_blank"> Hastings </a>
      -Hamburger Agentur für Audio-Branding und Corporate Sound.
    </li>

    <li>
      <a href="https://www.mophonics.com/" target="_blank"> Mophonics </a>
      -Amerikanische Agentur für Audio-Branding und Corporate Sound.
    </li>

    <li>
      <a href="https://eleven-audio.com/" target="_blank">Eleven Audio </a>
      -Münchener Agentur für Audio-Branding und Corporate Sound.
    </li>

    <li>
      <a href="https://audity.co/" target="_blank">Audity </a>
      - Agentur für Audio-Branding und Corporate Sound.
    </li>

    <li>
      <a href="https://blut.audio/" target="_blank">Blut </a>
      - Agentur für Audio-Branding und Corporate Sound.
    </li>
  </ul>
</div>
